body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  display: inline-block;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
  border-radius: 4px;
}

main {
  padding: 20px;
}


header {
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* bleu foncé vers bleu clair */
  padding: 2rem;
  border-radius: 12px;
  margin: 2rem auto;
  max-width: 95%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: white;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-text h1 {
  margin: 0;
  font-size: 2.2rem;
}

.header-text h4 {
  margin-top: 0.5rem;
  font-weight: normal;
  color: #333;
}

.header-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}